body {
    background-color: black;
    text-align: center;
    background-image: url(./imgs/black_to_white.png);
}
.name {
    font-size: 35px;
    margin: 0;
    font-style: bold;
    color: white;
    letter-spacing: 3px;
}
.mains a {
    display: inline-block;
}
.mains {
    margin: px auto;
}
.loader {
    width: 65px;
    height: 30px;
    position: relative;
  }
  .loader:before {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #fff;
    animation: l3 0.75s infinite alternate;
  }
  @keyframes l3 {
    0% {
      inset: 0 35px 0 0;
    }
    50% {
      inset: 0 0 0 0;
    }
    100% {
      inset: 0 0 0 35px;
    }
  }
div .mains {
    margin: 3px auto;
}
.des {
  color: #878787;
  margin: 5px;
}
.back {
  font-size: 16px;
  text-decoration: none;
}
.My-Project {
  background-color: rgba(0, 0, 0, 0.938);
  width: 1200px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 35px;
  display: none;
}

@media (max-height: 555px) {
  .made-by {
    font-size: small;
    position: relative;
    bottom: 10px;
  }
  .social img{
    width: 35px;
  }
  .nameimg img {
    width: 100px;
  }
  .name {
    font-size: large;
  }
  .apc {
    width: 200px;
  }
      div a img {
        width: 200px;
    }
}